.App {
  text-align: center;
  width: 50%;
  border: 2px dashed red;
  margin: auto;
}

.todoList {
  border: 1px dashed blue;
  padding: 10px;
}

.done {
  background: gray;
}

.inputAndButton {
  margin: 5px 0px;
  padding: 10px;
  border: 1px dashed green;
}

span {
  float: right;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0;
}
