* {
  box-sizing: border-box;
 /*  background: black; */
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}


.App {
  text-align: center;
  width: 50%;
  border: 2px dashed red;
  margin: auto;
}

.todoList {
  border: 1px dashed blue;
  padding: 10px;
}

.done {
  background: rgb(182, 171, 171);
  text-decoration: line-through;
  
}

.inputAndButton {
  margin: 5px 0px;
  padding: 10px;
  border: 1px dashed green;
}

button {
  cursor: pointer;
}

span {
  float: right;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  margin: 0;
  cursor: pointer;
}
